body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.tastiera {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
}
