body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.tastiera {
  display: inline-grid;
  grid-template-columns: auto auto;
  column-gap: 3px;
}
.tastiera-numeri {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}
.tastiera-numeri button {
  width: 26px;
  height: 26 px;
}
.tastiera-numeri :last-child {
  background-color: black;
  color: whitesmoke;
}
.tastiera-operatori {
  display: inline-grid;
  grid-template-columns: auto;
}
.tastiera-operatori button {
  background-color: coral;
  color: whitesmoke;
  width: 23px;
  height: 20px;
}
button {
  border-radius: 0;
}
.display {
  height: 20px;
  background-color: gray;
  color: whitesmoke;
  border: black 1px solid;
}
.calcolatrice {
  display: inline-grid;
  border: black 5px solid;
  background-color: black;
  row-gap: 5px;
}
#root {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
